{% extends 'body.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'lib/adminLTE3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/adminLTE3/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/adminLTE3/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/adminLTE3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminLTE3/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/adminLTE3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/cliente/list.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="card-title">
                        <i class="fas fa-search"></i>
                        {{ title }}
                    </h3>
                </div>
                <div class="col-sm-2">
                    <a href="{{ create_url }}" type="button" class="btn btn-primary">
                        <i class="fas fa-plus-circle"></i>
                        Nuevo Cliente
                    </a>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table" id="data">
                <thead>
                <tr>
                    <th scope="col" style="width: 10%;">Nro</th>
                    <th scope="col" style="width: 15%;">Nombres</th>
                    <th scope="col" style="width: 15%;">Apellidos</th>
                    <th scope="col" style="width: 10%;">NIT</th>
                    <th scope="col" style="width: 20%;">Opciones</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">

    </script>
{% endblock %}