<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        * {
            color: black;
        }

        body {
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
            padding: 0;
            margin: 0;
            color: black;
        }

        .name-company {
            font-size: 30px;
            padding: 0;
            margin: 0;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }

        table thead tr th {
            border: 1px solid black !important;
            padding: 3px;
        }

        table tbody tr td {
            border: 1px solid black;
            padding: 3px;
        }

        .img-logo {
            margin-top: 10px;
            width: 75px;
            height: 75px;
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <img src="{% static 'img/logo.png' %}" class="img-fluid d-block mx-auto img-logo">
    <h1 class="name-company">{{ comp.name }}</h1>
    <p class="text-center">
        5 avenida 4 calle, Zona 1 San Francisco, Petén <br>
        Celular: +502 41088503<br>
        NIT: 9999999-9<br>
    </p>
    <p>
        <b>Cliente:</b> {{ sale.cli.names }} {{ sale.cli.surnames }}<br>
        <b>NIT:</b> {{ sale.cli.nit }}<br>
        <b>Fecha de venta:</b> {{ sale.date_sale|date:'c' }}<br>
    </p>
    <table class="table" style="width: 100%;">
        <thead>
        <tr style="border: 1px solid black;">
            <th style="width: 20%;">Cantidad</th>
            <th style="width: 40%;">Producto</th>
            <th style="width: 20%;">P.Unitario</th>
            <th style="width: 20%;" class="text-right">Subtotal</th>
        </tr>
        </thead>
        <tbody>
        {% for det in sale.detsale_set.all %}
            <tr>
                <td class="text-center">{{ det.cant }}</td>
                <td>{{ det.prod.name }}</td>
                <td class="text-center">{{ det.price|floatformat:2 }}</td>
                <td class="text-right">{{ det.subtotal|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="text-right"><b>Subtotal</b></td>
            <td class="text-right">{{ sale.subtotal|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="3" class="text-right"><b>Iva %</b></td>
            <td class="text-right">{{ sale.iva|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="3" class="text-right"><b>Total a pagar</b></td>
            <td class="text-right">{{ sale.total|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="4">
                <p class="text-uppercase font-weight-bold text-center">
                    Total de productos {{ sale.detsale_set.all.count }}<br>
                    !Gracias por su preferencia!<br>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>