{% extends 'body.html' %}

{% block content %}
    <form method="post" id="form">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-plus"></i>
                    {{ title }}
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="acction" value="{{ acction }}">
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" id="btnsave">
                    <i class="fas fa-save"></i>
                    Guardar
                </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
<script>
    {% if form.errors %}
        var error= ''
        {% for field in form %}
            {% for error in field.errors %}
                error = '{{ error }}'
            {% endfor %}

        {% endfor %}
        Swal.fire({
            title: "Error!",
            text: error,
            icon: 'error',
            confirmButtonText :'Aceptar'
        });
    {% endif %}

    $('#form').on('submit', function (e){
        e.preventDefault();
        let params = $(this).serializeArray();
        $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: params,
                dataType: 'json',
            })
                .done(function (data) {
                    if(!data.hasOwnProperty('error')){
                        location.href = '{{ list_url }}'
                        return false;
                    }
                    message_error(data.error)
                })
                .fail(function (data) {
                    alert("Error");
                })
                .always(function (data){
                })
    })
</script>
{% endblock %}