{% extends 'body.html' %}

{% block content %}
    <form method="post" id="form">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-trash"></i>
                    {{ title }}
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="alert alert-danger alert-dismissible">
                  <h5><i class="icon fas fa-exclamation-triangle"></i> Aviso!</h5>
                  Se elminara la categoria: {{ object.name }}. ¿Esta seguro que desea continuar?.
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                 <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Si,Guardar</button>
                <a href="{{ list_url }}" type="button" class="btn btn-info"><i class="fa fa-times"></i> Cancelar</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
<script>
    {% if form.errors %}
        var error= ''
        {% for field in form %}
            {% for error in field.errors %}
                error = '{{ error }}'
            {% endfor %}

        {% endfor %}
        Swal.fire({
            title: "Error!",
            text: error,
            icon: 'error',
            confirmButtonText :'Aceptar'
        });
    {% endif %}

    $('#form').on('submit', function (e){
        e.preventDefault();
        let params = $(this).serializeArray();
        $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {},
                dataType: 'json',
            })
                .done(function (data) {
                    if(!data.hasOwnProperty('error')){
                        location.href = '{{ list_url }}'
                        return false;
                    }
                    message_error(data.error)
                })
                .fail(function (data) {
                    alert("Error");
                })
                .always(function (data){
                })
    })
</script>
{% endblock %}