{% extends 'body.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'lib/adminLTE3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/adminLTE3/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/adminLTE3/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/adminLTE3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminLTE3/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/adminLTE3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="card-title">
                        <i class="fas fa-search"></i>
                        {{ title }}
                    </h3>
                </div>
                <div class="col-sm-2">
                    <a href="{{ create_url }}" type="button" class="btn btn-primary">
                        <i class="fas fa-plus-circle"></i>
                        Nueva Categoria
                    </a>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table" id="data">
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for foo in categoria %}
                    <tr>
                        <td>{{ foo.id }}</td>
                        <td>{{ foo.name }}</td>
                        <td>
                            <a href="{% url 'erp:categoria-update' foo.id %}" type="button" class="btn btn-warning">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'erp:categoria-delete' foo.id %}" type="button" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(function () {
            $('#data').DataTable({
                responsive: true,
                autoWidth: false,
                "language": {
                    url: "{% static 'lib/adminLTE3/spanish.txt' %}"
                }
            });
        });

        $('#btntest').on('click', function () {
            $.ajax({
                url: '{% url 'erp:categoria-list' %}',
                type: 'POST',
                data: {id: 2},
                dataType: 'json',
            })
                .done(function (data) {
                    console.log(data);
                })
                .fail(function (data) {
                    alert("Error");
                })
                .always(function (data){
                })
        });

    </script>
{% endblock %}