  <footer class="main-footer">
    <!-- To the right -->
   {% comment %} <div class="float-right d-none d-sm-inline">
      Anything you want
    </div>{% endcomment %}
    <!-- Default to the left -->
      <div class="text-center">
          <strong>Copyright &copy; 2021 </strong> Todos los Derechos Reservados.
      </div>

  </footer>