{% load static %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Top Navigation</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'lib/adminLTE3/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'lib/adminLTE3/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminLTE3/plugins/chart.js/Chart.min.css' %}">
    <!-- jQuery -->
    <script src="{% static 'lib/adminLTE3/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'lib/adminLTE3/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'lib/adminLTE3/js/adminlte.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'lib/adminLTE3/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/adminLTE3/plugins/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
    <script src="{% static 'lib/adminLTE3/plugins/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'lib/adminLTE3/js/demo.js' %}"></script>
    <script src="{% static 'lib/adminLTE3/plugins/chart.js/Chart.min.js' %}"></script>
    {% block head %}

    {% endblock %}
</head>
{% block body %}

{% endblock %}
</html>