{% extends 'body.html' %}

{% block content %}
    <h2>Graficas</h2>
    <div>
        <button type="button" class="btn btn-info" id="btnchart"><i class="fa fa-sync"></i> Actualizar</button>
    </div>
    <div class="chart" style="position: relative; height:95vh; width:80vw">
        <canvas id="charts"></canvas>
    </div>
    <div class="chart" style="position: relative; height:95vh; width:80vw">
        <canvas id="charts2"></canvas>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {

            $('#btnchart').on('click', function () {
                $.ajax({
                    url: '{% url 'venta:venta-list' %}',
                    type: 'POST',
                    data: {
                        'action': 'chartdata'
                    },
                    dataType: 'json',
                })
                    .done(function (data) {
                        if (!data.hasOwnProperty('error')) {
                            var ctx = $('#charts');
                            var pieChart = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels: data.labels,
                                    datasets: [{
                                        label: 'No. Ventas',
                                        data: data.data,
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                            return false;
                        }
                        message_error(data.error)
                    })
                    .fail(function (data) {
                        alert("Error");
                    })
                    .always(function (data) {
                    })
                //------------------------------------------------------

                //------------------------------------------------------
            })
            $.ajax({
                url: '{% url 'venta:venta-list' %}',
                type: 'POST',
                data: {
                    'action': 'chartdata'
                },
                dataType: 'json'
            })
                .done(function (data) {
                    if (!data.hasOwnProperty('error')) {

                        var ctx = $('#charts');
                        var pieChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: data.labels,
                                datasets: [{
                                    label: 'No. Ventas',
                                    data: data.data,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });


                        return false;
                    }
                    message_error(data.error)
                })
                .fail(function (data) {
                    alert("Error");
                })
                .always(function (data) {
                })


        });
    </script>

{% endblock %}